// Footer
footer {
    
    // Text
    .footer-text {
        font-family: $main-font;
        text-align: center;
        margin: $xl-size 0 auto 0;
        padding: $l-size 0;
        border-top: 2px solid #000;
    }
}