// Header
header {
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;
    margin-top: $l-size;

    // FM logo
    .main-logo-container {

        .main-logo {
            display: inline-block;
            color: #fff;
            background: #000;
            font-family: $main-font;
            font-size: $l-size;
            padding: 0 $s-size;
        }
    }

    // Social icons
    .header-icons {
        justify-self: end;
        display: inline-grid;
        align-items: center;
        grid-template-columns: 1fr 1fr 1fr;
        
        img {
            max-width: 1.5rem;
            margin-left: $s-size;
        }

        // Hamburger
        .hamburger-icon {
            margin-left: $m-size;
            max-width: $xl-size;
        }
    }

    // Side menu
    .side-menu {
        background: #fff;
        z-index: 10000;
        position: fixed;
        right: 5%;
        height: 100vh;

        // Close sign
        .x-sign {
            z-index: 10000;
            position: fixed;
            right: 5%;
            max-width: $m-size;
        }

        // Side menu block
        .side-menu-list {
            display: grid;
            padding: 15vh 15vh 0 $xl-size;
            
            // Side menu items
            a {
                text-decoration: none;
                color: #000;
                font-size: $l-size;
                font-family: $main-font;
                padding: $s-size 0;
            }
        }
    }
}