// Intro Section
.intro {
   margin: 8rem 0 0 0;
   text-align: center;

   // Main text
   h1 {
       font-size: 4rem
   }

   .intro-text-one {
        margin-bottom: 0;
    }

   .intro-text-two {
        padding: 0 $l-size;
        border-bottom: 0.5rem solid $main-color;
        display: inline;
   }

   // Secondary text
   p {
       margin: $xl-size 0 $l-size 0;
       font-weight: normal;
   }

   // Buttons
   button, a {
       text-decoration: none;
       font-size: $m-size;
       display: block;
       background: none;
       border: none;
       padding: $s-size $l-size;
       font-weight: bold;
       text-transform: uppercase;
       width: 20rem;
       white-space: nowrap;
       margin: 0 auto;
   }

   // Resume button
   .resume-button {
       border: 2px solid $main-color;
       color: $main-color;
       margin-bottom: $m-size;
   }

   // Contact button
   .contact-button {
        border: 2px solid $main-color;
        background: $main-color;
        color: #fff;
   }

   // Intro illustration
   .intro-illustration {
       margin: $xl-size $m-size 0 $m-size;
   }
}