// Project list heading
.project-section-heading {
    font-size: $l-size;
    margin-top: $xl-size;
    text-align: center;
}

// Project filter
.project-filter {
    margin: $m-size 0 $xl-size 0;
    text-align: center;

    // Text
    p, span {
        display: inline-block;
    }

    // Separator
    span {
        padding: 0 $m-size;
    }
}

// Project list
.project {
    margin-bottom: $xl-size;

    // Image box
    .image-box {
        display: grid;
        width: 100%;

        // Main image
        .project-main-image {
            max-width: 100%;
            max-height: 100vh;
            margin: auto;
            border-left: $s-size solid $main-color;
        }
    }

    // Image name
    .project-name {
        font-weight: 900;
        font-size: 2.5rem;
        margin-top: $l-size;
    }

    // Image type
    .project-type {
        font-weight: lighter;
        margin: $s-size 0 $m-size 0;
    }

    // Project link
    .project-link {
        font-size: $m-size;
        color: #000;
        font-weight: 900;
        text-transform: uppercase;
        border-bottom: 2px solid #000;
    }
}