// Intro Section
.intro {
   margin: 8rem 0 0 0;
   text-align: center;

   // Text Section
   .intro-text {
        display: grid;
        justify-items: center;
        margin-bottom: $l-size;

        // Text contaier
        .intro-text-container {
            text-align: left;  
            border-left: 1rem solid $main-color;
            padding-left: $l-size;

            // Main text
            h1 {
                font-size: 4rem;    
                margin: 0;
                padding: 0 0 $xs-size 0;    
                white-space: nowrap;
                letter-spacing: 5px;
            }
        }

        // Secondary text
        p {
            margin: $xl-size 0 $xl-size 0;
            font-weight: normal;
            font-size: 2rem;
            max-width: 35rem;
        }

        // Buttons Section
        .intro-buttons {

            // Buttons
            .contact-button {
                text-decoration: none;
                font-size: $m-size;
                display: block;
                background: none;
                border: none;
                padding: $m-size $l-size;
                font-weight: 700;
                text-transform: uppercase;
                width: 30rem;
                white-space: nowrap;
                margin: 0 auto;
                transition: $transition-time;
                border: 2.5px solid $darker-main-color;
                background: $darker-main-color;
                color: #fff;
            }

            .contact-button:hover {
                color: $darker-main-color;
                background: #fff;
                border: 2.5px solid $darker-main-color;
            }
        }        
   }

    // Image Section
    .intro-image {
       
        // Intro illustration
        .intro-illustration {
            margin: $xl-size $m-size 0 $m-size;
            max-width: 60rem;
        }
    } 
}

/* Medium devices */
@media only screen and (min-width: $tablet-breakpoint) {
    
    // Intro Section
    .intro {
        display: grid;
        grid-template-columns: 1fr 2fr;
        align-items: center;
        column-gap: 5rem;
        max-width: 90%;
        margin: 8rem auto auto auto;

        // Text Section
        .intro-text {
            // Text contaier
            .intro-text-container {
                padding-left: $xl-size;
                justify-self: start;
            }
        }

        // Image Section
        .intro-image {
            .intro-illustration {
                margin: 0;
            }
        }
    }
}

/* Large devices */
@media only screen and (min-width: $desktop-breakpoint) {
    
    // Intro Section
    .intro {

        grid-template-columns: 1fr 1.25fr;

        // Text Section
        .intro-text {
            justify-self: center;

            // Text contaier
            .intro-text-container {
                justify-self: start;

                h1 {
                    font-size: 5.25rem;
                    letter-spacing: 3px;
                }
            }     

            // Secondary text
            p {
                justify-self: start;
                margin-left: $xl-size;
                font-size: 2rem;
                letter-spacing: 1px;
            }

             // Buttons Section
            .intro-buttons {
                justify-self: start;
                margin-left: $xl-size;

                // Buttons
                .contact-button {
                    width: 35rem;
                }
            }       
        }

        // Image Section
        .intro-image {
            display: grid;

             // Intro illustration
            .intro-illustration {
                max-width: 70rem;
            }
        }
    }
}

/* Large devices */
@media only screen and (min-width: $extra-large-breakpoint) {
    
    // Intro Section
    .intro {
        max-width: 80%;

        // Text Section
        .intro-text {

            .intro-text-container {
                // Secondary text
                p {
                    font-size: 2.25rem;
                    white-space: normal;
                    letter-spacing: 1px;
                    padding: $s-size 0 $l-size 0;
                    max-width: 47.5rem;
                } 
            }
        }

        // Image Section
        .intro-image {
             // Intro illustration
            .intro-illustration {
                max-width: 80rem;
            }
        }
    }
}

/* Monsterious devices */
@media only screen and (min-width: $monstrous-breakpoint) {
    // Intro Section
    .intro {
        max-width: 72.5%;
    }
}
