// Project list
.project-list {

    margin: 0 $l-size;

    // Project list heading
    .project-section-heading {
        font-size: $l-size;
        text-align: center;
        margin: $xl-size 0 $m-size 0;
        padding-top: $xl-size;
    }

    // Project filter
    .project-filter {
        text-align: center;
        margin: $m-size 0 $xl-size 0;
        padding: $s-size 0 $xl-size 0;

        // Text
        p, span {
            display: inline-block;
            z-index: 1;
        }

        p {
            cursor: pointer;
            font-size: $m-size;
            transition: $transition-time;
        }

        p:hover {
            font-weight: 700;
        }

        // Separator
        span {
            padding: 0 $m-size;
        }
    }

    // Reset link values
    a {
        text-decoration: none;
        color: #000;
    }

    // Project list
    .project {
        margin: 0 auto $xl-size auto;
        padding: $m-size 0;
        max-width: 55rem;
        cursor: pointer;
        position: relative;
        z-index: -1;

        // Image box
        .image-box {
            display: grid;
            width: 100%;
            height: 40rem;
        }

        // Text box
        .text-box {
            // Image name
            .project-name {
                font-weight: 700;
                font-size: 2.5rem;
                margin-top: $l-size;
            }

            // Image type
            .project-type {
                font-style: italic;
                margin: $s-size 0 $m-size 0;
            }

            // Project link
            .project-link, .project-link-arrow {
                font-size: $m-size;
                color: #000;
                font-weight: 900;
                text-transform: uppercase;
                border-bottom: 2px solid #000;
                transition: $transition-time;
            }

            .project-link:hover {
                color: $darker-main-color;
                border-color: $darker-main-color;
            }

            .project-link-arrow {
                border-bottom: 2px solid transparent;
                margin-left: $xs-size;
            }
        }
    }
}

/* Large devices */
@media only screen and (min-width: $desktop-breakpoint) {

    // Project list
    .project-list {
        // Project list heading
        .project-section-heading {
            font-size: 4rem;
        }

        // Project filter
        .project-filter {
            text-align: center;
            margin: $m-size 0 $xl-size 0;
            padding: $s-size 0 $xl-size 0;

            // Text
            p, span {
                font-size: 2rem;
            }

            p {
                transition: $transition-time;
            }
        }

        // Project list
        .project {
            max-width: 100rem;
            display: grid;
            grid-template-rows: 40rem;
            grid-template-columns: auto 30rem;
            column-gap: 7.5rem;

            // Text box
            .text-box {
                align-self: center;
                white-space: nowrap;

                // Project name
                .project-name {
                    font-size: 3rem;
                }

                .project-type {
                    font-size: 1.75rem;
                    margin-bottom: 2.5rem;
                }

                .project-link, .project-link-arrow {
                    font-size: 2rem;
                }
            }
        }
    }
}

/* Extra large devices */
@media only screen and (min-width: $extra-large-breakpoint) {

    // Project list
    .project-list {

        // Project list
        .project {
            max-width: 120rem;
            grid-template-columns: auto 40rem;
        }
    }
}