// Contact container
.contact {
    max-width: 90%;
    margin: 0 auto;
    display: block;

    // Heading container
    .contact-heading-container {
        display: inline-block;
        margin-top: $m-size;

        // Main heading
        .contact-main-heading {
            font-size: $l-size;
            white-space: normal;
        }

        .contact-main-heading:after {
            content: ""; 
            display: block; 
            width: inherit; 
            padding-top: $xs-size; 
            border-bottom: $xs-size solid; 
        }

        // Email text
        .contact-heading-email {
            color: $light-color;
            margin-top: -$xs-size;
        }
    }

    // Finished form text
    .contact-finish-text {
        font-weight: 700;
        font-size: 2.5rem;
        margin-top: $l-size;
    }

    // Form container
    #form {
        display: grid;
        margin-top: $l-size;

        // Input container
        label {
            font-weight: 500;
            font-size: $m-size;
            margin: $s-size 0;

            // Input elements
            input, textarea {
                width: 100%;
                max-width: 50rem;
                height: 100%;
                max-height: 3rem;
                margin-top: $xs-size;
            }

            textarea {
                max-height: 25rem;
            }
        }

        // Submit button
        .contact-submit-button {
            font-size: $m-size;
            font-family: $main-font;
            text-transform: uppercase;
            font-weight: 700;
            max-width: 25rem;
            padding: 0.5rem 0rem;
            background: transparent;
            border: 2px solid #000;
            cursor: pointer;
            margin-top: 7.5rem;
            transition: $transition-time;
        }

        .contact-submit-button:hover {
            background: #000000;
            color: #ffffff;
        }
    }
}

/* Extra large devices */
@media only screen and (min-width: $extra-large-breakpoint) {
    // Contact container
    .contact {
        max-width: 80%;
    }
}

/* Monsterous large devices */
@media only screen and (min-width: $monstrous-breakpoint) {
    // Contact container
    .contact {
        max-width: 65%;

        // Heading container
        .contact-heading-container {
            // Main heading
            .contact-main-heading {
                font-size: 4rem;
            }
        }

        // Form container
        #form {
        display: grid;
        margin-top: $l-size;

            // Input container
            label {
                font-weight: 500;
                font-size: $m-size;
                margin: $s-size 0;

                // Input elements
                input, textarea {
                    max-width: 70rem;
                    margin-top: $m-size;
                }
            } 
        }
    }
}