// Base styling
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: $main-font;
}

#root {
    max-width: 90%;
    margin: 0 auto;
}

#root:not(header) {
    max-width: 100%;
}

// Texts
h1, h2, h3 {
    font-weight: 700;
}

p, a {
    font-size: $m-size;
}

a, button, span {
    cursor: pointer;
}

/* Extra large devices */
@media only screen and (min-width: $extra-large-breakpoint) {
    #root {
        max-width: 70%;
    }
}
