// Google Fonts import
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// Fonts
$main-font: 'Poppins', sans-serif;

// Colors
$main-color: #46649E;
$darker-main-color: #284B8E;
$web-design-color: purple;
$graphic-design-color: blue;
$multimedia-color: red;
$light-color: #808080;

// Spacing
$xs-size: 0.8rem;
$s-size: 1.2rem;
$m-size: 1.6rem; 
$l-size: 3.2rem;
$xl-size: 4.8rem;
$tablet-breakpoint: 48rem;
$desktop-breakpoint: 62rem;
$extra-large-breakpoint: 75rem;
$monstrous-breakpoint: 100rem;